{% comment %}

    Annotated Image include
    Given an image and annotation JSON file, it load the image with annotations using Annotorious.
    This allows visitors to view the interactive annotated image on the webpage.

    Options: 
    - image = the filename of an image contained in the "objects" directory of this project. E.g. "campus02023.jpg"
    - annotation = the filename of a JSON annotation file contained in the "objects" directory of this project. E.g. "campus-places.json"

{% endcomment %}

<img id="{{ include.image | slugify }}" class="annotated-image rounded img-fluid" src="{{ '/objects' | relative_url }}/{{ include.image }}" data-annotation-file="{{ '/objects' | relative_url }}/{{ include.annotation }}" />
